@model ATCScheduler.Models.ATController

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>ATController</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ControllerId" />
        <div class="form-group">
            <label asp-for="SkillLevelId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="SkillLevelId" class="form-control" asp-items="ViewBag.SkillLevelId"></select>
                <span asp-validation-for="SkillLevelId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="FlyingStatus" />
                    <label asp-for="FlyingStatus"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

