@model ATCScheduler.Models.ViewModels.CreateShiftViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_ShiftsLayout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Shift</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Shift.Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Shift.Title" class="form-control" />
                <span asp-validation-for="Shift.Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Shift.StartTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Shift.StartTime" class="form-control" />
                <span asp-validation-for="Shift.StartTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Shift.EndTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Shift.EndTime" class="form-control" />
                <span asp-validation-for="Shift.EndTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ListOfPositions" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.ListBoxFor(m => m.SelectedPostions, Model.ListOfPositions, new { size = 5 })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
